@font-face {
  font-family: titleFont;
  src: url(fonts/whoobub.ttf);
}

@font-face {
  font-family: subtitleFont;
  src: url(fonts/advert-regular.ttf);
}

.icon.major.accent2 {
  background: #0000FF;
}

#cta {
  background: #0F0F50;
}

#cta input[type=submit] {
  color: #0F0F50;
}

#banner h2 {
  font-size: 4.5em;
  font-family: titleFont;
  line-height: 1em;
  margin: unset;
  padding: 0;
}

#header h1 a {
  font-family: titleFont;
  font-weight: 400;
  border: 0;
}

#banner p {
  font-family: subtitleFont;
  font-size: 1.25em;
  margin-bottom: 1.75em;
}

#header nav>ul>li a:not(.button) {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  border: 0;
}